
:root {
    --mdui-icon-font-family: 'Material Symbols Rounded';
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(var(--mdui-color-surface));
    color: rgb(var(--mdui-color-on-surface));
}

mdui-tabs {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    
    width: 100%;
}

mdui-tab::part(icon) {
    font-size: 36px;
}

mdui-tab::part(label) {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
#logo {
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    letter-spacing: -0.25px;
    text-align: left;
    margin-right: auto;
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

/*h1 {
    font-family: 'Syne', sans-serif;
    font-size: /*57px*//*var(--mdui-typescale-display-large-size) !important;
    text-align: left;
    font-weight: 400;
    margin-left: auto;
    margin-top: 0;
    letter-spacing: -0.25px;
    line-height: var(--mdui-typescale-display-large-line-height);
    color: rgb(var(--mdui-color-on-secondary-container));
    background-color: rgb(var(--mdui-color-secondary-container));
    width: fit-content;
    border-radius: 12px;
    padding: 16px;
    font-weight: 800;
}*/

p,
div {
    color: rgb(var(--mdui-color-on-surface));
    font-family: 'Roboto Flex', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.content {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    flex-shrink: .5;
    font-size: var(--mdui-typescale-body-large-size);
    line-height: var(--mdui-typescale-body-large-line-height);
    font-weight: var(--mdui-typescale-body-large-weight);
    letter-spacing: var(--mdui-typescale-body-large-tracking);
    position: relative;
    font-optical-sizing: auto;
    flex: 1;
    overflow: visible;
}
.content p {
    max-width: 672px;
    margin-top: 0;
    background-color: rgb(var(--mdui-color-surface));
    border: solid 1px rgb(var(--mdui-color-outline));
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    color: rgb(var(--mdui-color-on-surface));
}
mdui-tab-panel {
    position: relative;
    overflow: visible !important;
    padding-top: 40px;
}



